/**************************Start MY Frame Work**************************/

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7)
}











/************************************************************************/



.first-h1 {
    margin: 20%;
}

nav li {
    list-style: none;
}

.about p,
.about h2 {
    color: antiquewhite
}

.about .my-img {
    background-image: url(../imgs/Untitled-1.jpg);
    background-size: cover;
    height: 450px;
    border: 5px solid #DC3545;
    width: 100%
}

.about {
    background-color: #333;
}

.about .x {
    background-color: transparent;
    border-width: 3px;
}

.edu {
    background-color: #222;
    color: antiquewhite
}

.up {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: crimson;
    text-align: center;
    line-height: 50px;
    color: white;
    border: 1px solid white
}

@media (max-width: 992px) {
    nav li {
        text-align: center;
        background-color: gray;
        border-bottom: 2px solid black;
    }

    nav .btn {
        margin: auto;
    }
}
